:root {
  --bodyfont: "Mukta", sans-serif;
  --highlightfont: "Roboto", sans-serif;
}
.temperature {
  font-family: var(--highlightfont);
  font-weight: normal;
  font-weight: 500;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: #f7b62a;
}
